DATABASE_URL=postgresql://postgres:postgres@localhost:5432/eco-feed
JWT_SECRET=super-secret-change-me-in-production

S3_ENDPOINT_URL=https://s3.amazonaws.com
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=eco-feed
S3_REGION=us-east-1
S3_PUBLIC_URL=https://eco-feed.s3.amazonaws.com
